.line {
  fill: #6D4D4A;
}
.circle {
  fill: #A69191;
  stroke: black;
  stroke-opacity: 0.3;
}
.center {
  height: 50px;
  width: 50px;
  background: #1F1313;
}
.corner {
  height: 22px;
  width: 22px;
  background: #3B3B3B;
}
.verti {
  height: 50px;
  width: 22px;
  background: #3B3B3B;
}
.horiz {
  height: 22px;
  width: 50px;
  background: #3B3B3B;
}
.start {
  position: relative;
  height: 22px;
  width: 22px;
  background: #3B3B3B;
}
.end {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  position: relative;
  height: 22px;
  width: 22px;
  background: #3B3B3B;
}