@keyframes line-succ {
  from {fill: #FFF;}
  to {fill: #999;}
}
@keyframes line-fail {
  from {fill: #000;}
  to {fill: #333;}
}
.cursor {
  fill: #FFF;
  stroke: black;
  stroke-width: 2px;
  stroke-opacity: 0.4;
}
.center { background: #000; }
.verti { background: #666; }
.horiz { background: #666; }
.corner { background: #666; }
.start {
  position: absolute;
  top: -12px;
  left: -12px;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background: #666;
}
.end_left {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  position: relative;
  height: 24px;
  width: 24px;
  background: #666;
}
.end_right {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  position: relative;
  height: 24px;
  width: 24px;
  background: #666;
}
.end_up {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;
  height: 24px;
  width: 24px;
  background: #666;
}
.end_down {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: relative;
  height: 24px;
  width: 24px;
  background: #666;
}
