@font-face { src: url('Constantia.ttf'); }
label, button, select, option {
  font-family: Constantia;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 28px;
}
table { margin:auto; }
.resize { position: absolute; }
